.navbar {
    margin-bottom: 25px;
    background-color: rgb(255, 138, 0);
}

.botao {
    font-size: 15px;
}

#icon {
    width: 20px;
    height: 16px;
}

.sessao_cards {
    margin: 50px 10px;
    color: orange;
}

.grupo_cards {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

.card-img-top {
    padding: 0px 20px;
}

.white-mode {
    background-color: rgb(240, 240, 240);
}

.dark-mode {
    background-color: black;
}